In [2]:
import pandas as pd
import seaborn as sns

In [186]:
df = pd.read_csv("../raw_data/global_power_plant_database.csv")

/tmp/ipykernel_3862/3667709401.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/global_power_plant_database.csv")

1. Dataframe option 1  
only the longitude and latitude for all the plants

In [178]:
def get_dataframe_option1 (df) :
    df = df[df['primary_fuel']== 'Solar'].reset_index(drop=True)
    df.drop(columns=['gppd_idnr', 'capacity_mw','other_fuel1', 'other_fuel2', 'other_fuel3', 'commissioning_year', 'owner', 'source', 'url',
       'geolocation_source', 'wepp_id', 'year_of_capacity_data',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017', 'generation_gwh_2018',
       'generation_gwh_2019', 'generation_data_source',
       'estimated_generation_gwh_2013', 'estimated_generation_gwh_2014',
       'estimated_generation_gwh_2015', 'estimated_generation_gwh_2016',
       'estimated_generation_gwh_2017', 'estimated_generation_note_2013',
       'estimated_generation_note_2014', 'estimated_generation_note_2015',
       'estimated_generation_note_2016', 'estimated_generation_note_2017'], inplace=True)
    return df
df_option1 = get_dataframe_option1(df)

2. Dataframe option 2  
all the plants + estimated production of 2016

In [179]:
def get_dataframe_option2(df) :
    df = pd.read_csv("../raw_data/global_power_plant_database.csv")
    df = df.dropna(subset=['estimated_generation_gwh_2017'])
    df = df[df['primary_fuel']== 'Solar'].reset_index(drop=True)
    df.drop(columns=['gppd_idnr', 'capacity_mw','other_fuel1', 'other_fuel2', 'other_fuel3', 'commissioning_year', 'owner', 'source', 'url',
       'geolocation_source', 'wepp_id', 'year_of_capacity_data',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017', 'generation_gwh_2018','generation_gwh_2019',
        'generation_data_source',
       'estimated_generation_gwh_2013', 'estimated_generation_gwh_2014',
       'estimated_generation_gwh_2015', 'estimated_generation_gwh_2016', 'estimated_generation_note_2013',
       'estimated_generation_note_2014', 'estimated_generation_note_2015',
       'estimated_generation_note_2016', 'estimated_generation_note_2017'], inplace=True)
    return df

In [180]:
data_test = get_dataframe_option2(df)
data_test

/tmp/ipykernel_3862/481505922.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/global_power_plant_database.csv")

,country,country_long,name,latitude,longitude,primary_fuel,estimated_generation_gwh_2017
0,AFG,Afghanistan,Kandahar DOG,31.670,65.795,Solar,18.29
1,AFG,Afghanistan,Kandahar JOL,31.623,65.792,Solar,18.72
2,DZA,Algeria,Adrar,27.908,-0.317,Solar,35.17
3,DZA,Algeria,Ain Azel,35.880,5.475,Solar,38.75
4,DZA,Algeria,Ain Sekhouna,34.532,0.804,Solar,35.46
...,...,...,...,...,...,...,...
10660,VNM,Vietnam,Ninh Thuận CMX,11.700,108.900,Solar,283.13
10661,VNM,Vietnam,Phước Nam,11.446,108.866,Solar,576.93
10662,VNM,Vietnam,Thua Thien Hue TTC,16.440,107.505,Solar,78.68
10663,VNM,Vietnam,Thuan Bac,11.700,109.030,Solar,340.91
10664,ZMB,Zambia,Kafue,-15.550,28.350,Solar,121.28

3. Dataframe option 3  
all the plants  
estimation for all the years (2013, 2014, 2015, 2016, 2017)  
real production for the years(2018, 2019)

In [181]:
df = pd.read_csv("../raw_data/global_power_plant_database.csv")

/tmp/ipykernel_3862/3667709401.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/global_power_plant_database.csv")

In [184]:
def get_dataframe_option3 (df) :
    df.drop(columns=['gppd_idnr', 'capacity_mw',
       'other_fuel1', 'other_fuel2',
       'other_fuel3', 'commissioning_year', 'owner', 'source', 'url',
       'geolocation_source', 'wepp_id', 'year_of_capacity_data',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017','generation_data_source',
       'estimated_generation_note_2013','estimated_generation_note_2014', 'estimated_generation_note_2015',
       'estimated_generation_note_2016', 'estimated_generation_note_2017'], inplace=True)
    df = df[df['primary_fuel']== 'Solar'].reset_index(drop=True)
    df = pd.melt(df, id_vars=['country', 'country_long', 'name', 'latitude', 'longitude',
       'primary_fuel'], value_vars=['generation_gwh_2018', 'generation_gwh_2019',
       'estimated_generation_gwh_2013', 'estimated_generation_gwh_2014',
       'estimated_generation_gwh_2015', 'estimated_generation_gwh_2016',
       'estimated_generation_gwh_2017'], var_name='year', value_name='production')
    df['year'] = df['year'].str.strip('generation_gwh_').str.strip('estimated_generation_gwh_')
    df = df.dropna(subset=['production']).reset_index(drop=True)
    return df

In [187]:
data_test_2 = get_dataframe_option3 (df)
data_test_2

,country,country_long,name,latitude,longitude,primary_fuel,year,production
0,AUS,Australia,Broken Hill Solar Plant,-31.9867,141.3915,Solar,2018,130.706944
1,AUS,Australia,Greenough River Solar Farm,-28.9043,115.1119,Solar,2018,21.815000
2,AUS,Australia,Griffith Solar Farm,-34.3155,146.1094,Solar,2018,22.027222
3,AUS,Australia,Moree,-29.5722,149.8669,Solar,2018,154.935000
4,AUS,Australia,Nyngan Solar Plant,-31.5527,147.0854,Solar,2018,250.736389
...,...,...,...,...,...,...,...,...
49062,VNM,Vietnam,Ninh Thuận CMX,11.7000,108.9000,Solar,2017,283.130000
49063,VNM,Vietnam,Phước Nam,11.4460,108.8660,Solar,2017,576.930000
49064,VNM,Vietnam,Thua Thien Hue TTC,16.4400,107.5050,Solar,2017,78.680000
49065,VNM,Vietnam,Thuan Bac,11.7000,109.0300,Solar,2017,340.910000
49066,ZMB,Zambia,Kafue,-15.5500,28.3500,Solar,2017,121.280000